<%= link_to image_tag('logo_sq.png'), controller: 'posts' %>

<h4>Welcome to Game Hub.</h4>
<p>You can buy and sell tabletop games here.</p>
<p>Just create an account and check out the ad listing.</p>
<p><strong>It's that easy!</strong></p>