    <div class="row mb-3">
      <% if can? :destroy, @post %>
        <%= link_to 'Delete', [offer.post, offer],
                  method: :delete,
                  data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm mr-3" %>
      <% end %>

      <%= "#{offer.commenter} is offering $#{offer.amount}" %> 

      <span class="text-muted">
      <%= time_ago_in_words(offer.created_at) %> ago
      </span>
    </div>