/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

%links {
  text-decoration: none !important;
  color: black;
}

#posts-index-links {
  @extend %links;
  :hover {
    @extend %links;
    background-color: gainsboro;
  }
  div {
    #listing-descript {
      color: grey;
      font-size: 80%;
    }
    #listing-date {
      font-size: 70%;
    }
  }
}

.post-img {
  max-width: 100%;
  overflow: hidden;
}

.show-img {
  max-width: 100%;
  height: auto;
}

.nav-item {
  margin: 0 4px;
}

.text-green {
  color: rgb(33, 179, 33);
}

.text-lg {
  font-size: 1.8rem;
}

.nopad {
  padding: 0;
}

.overflow {
  overflow-wrap: break-word;
}

@media (min-width: 576px) {
}

// .user-area {
//   background-repeat: no-repeat;
//   width: 1025px !important;
//   margin-top: 100px !important;
// }

// body {
//   // background-image: image-url("dicef.png");
//   background-image: url("/assets/images/dicef.png");
// }
